include README.md LICENSE NOTICE SECURITY.md CONTRIBUTING.md
include pyproject.toml MANIFEST.in requirements.txt
recursive-include docs *.md *.svg
recursive-include examples *
recursive-include usecases *.md *.py *.csv
recursive-include tests *.py
recursive-include .github/workflows *.yml
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * .DS_Store
